/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@font-face {
  font-family: 'Arial Narrow';
  src: url('/fonts/arial-narrow.ttf');
}

html {
  overflow: hidden;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: 'Arial Narrow', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.5em;
  font-size: 1.125rem;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.galleryImg {
  object-fit: contain;
  object-position: center center;
  width: 100%;
}

.carousel .slider {
  height: 100% !important;
}

.carousel .slide > div {
  height: 100% !important;
}

.carousel .slide iframe {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

@media only screen and (min-width: 992px) {
  .carousel .slide iframe {
    max-height: none;
  }
}

button:focus {
  outline: 0;
}

#art-fire {
  filter: drop-shadow(0 0 10px #4444dd) drop-shadow(0 0 5px white);
}

#design-fire {
  filter: drop-shadow(0 0 10px #4444dd) drop-shadow(0 0 5px white);
}
